.about {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 350px;

    text-align: left;
  }
}

.about__location {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 24px;
  }
}

.about__title {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  font-family: "Yeseva One", "Times New Roman", serif;
  color: $white;

  @media (min-width: $tablet-width) {
    margin-bottom: 18px;

    font-size: 52px;
    line-height: 60px;
  }
}

.about__description {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    width: 270px;
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 24px;
  }
}
