.faq {
  padding-top: 54px;
  padding-bottom: 30px;

  background-color: $section-bg-2;

  @media (min-width: $tablet-width) {
    padding-top: 138px;
    padding-bottom: 42px;
  }
}

.faq__list {
  @media (min-width: $tablet-width) {
    padding-right: 15px;
    padding-left: 120px;
  }
}

.faq__item {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-bottom: 25px;
  }
}

.faq__item::before {
  @media (min-width: $tablet-width) {
    content: attr(data-count);

    position: absolute;
    top: 9px;
    left: -80px;

    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: $text-primary;
  }
}

.faq__item:last-child {
  margin-bottom: 0;
}

.faq__title {
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 9px 53px 9px 15px;

  font: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $text-secondary;
  text-align: left;

  background: none;
  border: 1px solid $border;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    min-height: 76px;
    padding: 20px 129px 18px 29px;

    font-size: 16px;
    line-height: 19px;
  }

  @media (min-width: $desktop-width) {
    min-height: 110px;
    padding: 48px 42px 44px;
  }
}

.faq__button {
  position: absolute;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 43px;

  background: none;
  border-left: 1px solid $border;

  @media (min-width: $tablet-width) {
    width: 72px;
  }
}

.faq__item--open .faq__button {
  background: $text-primary;
}

.faq__icon {
  fill: $white;
}

.faq__description {
  display: none;
  padding: 10px 25px 10px 15px;

  border: 0.5px solid #544332;
  border-top: none;

  @media (min-width: $tablet-width) {
    padding: 26px 142px 24px 29px;
  }
}

.faq__item--open .faq__description {
  display: block;
}

.faq__text {
  margin: 0;
  margin-bottom: 5px;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $text-secondary;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: 25px;
  }
}

.faq__text:last-child {
  margin-bottom: 0;
}
