.logo {
  width: 50px;
  height: 23px;

  fill: $color-light;
  stroke: $color-dark-2;
  stroke-width: 0.5;

  @media (min-width: $tablet-width) {
    width: 55px;
    height: 25px;
  }
}

.logo--page-footer {
  order: 2;
  width: 56px;
  height: 25px;

  stroke: $color-dark-3;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    order: 0;
    width: 47px;
    height: 21px;

    grid-column: 1 / 2;
  }
}
