.nursery-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 39px;
  }
}

.nursery-nav__item {
  margin-right: 45px;
}

.nursery-nav__item:last-child {
  margin-right: 0;
}

.nursery-nav__button {
  margin: 0;
  padding: 0;

  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $white-20;

  background: none;
  border: none;
  cursor: pointer;

  &:not(&--current):active {
    color: $white;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 21px;
  }
}

.nursery-nav__button--current {
  color: $white;
}
