.nursery-nav {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.nursery-nav__item {
  margin-right: 25px;
}

.nursery-nav__item:last-child {
  margin-right: 0;
}

.nursery-nav__button {
  margin: 0;
  padding: 10px;

  font: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $white-20;

  background: none;
  border: 1px solid transparent;

  cursor: pointer;

  transition: color 0.3s, border-color 0.3s;

  &:not(&--current):hover,
  &:not(&--current):focus {
    border-color: $white-20;
  }

  &:not(&--current):active {
    color: $white;

    border-color: $white;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 21px;
  }
}

.nursery-nav__button--current {
  color: $white;
}
