.nursery-controls {
  position: absolute;
  top: 160px;

  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    top: 291px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nursery-controls__button {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.nursery-controls__button--prev {
  left: -15px;

  @media (min-width: $tablet-width) {
    left: -25px;
  }
}

.nursery-controls__button--next {
  right: -15px;

  @media (min-width: $tablet-width) {
    right: -25px;
  }
}

.nursery-controls__icon {
  width: 10px;
  height: 20px;

  fill: none;
  stroke: $text-primary;
  stroke-width: 1;

  @media (min-width: $tablet-width) {
    width: 16px;
    height: 32px;

    stroke-width: 1;
  }
}
