.nursery-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.nursery-controls__button {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 43px;
  margin: 0;
  padding: 0;

  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  transition: border-color 0.3s;

  &:hover,
  &:focus {
    border-color: $color-light;
  }

  &:active {
    border-color: $color-light-30;
  }

  &:active .nursery-controls__icon {
    stroke: $color-light-30;
  }

  @media (min-width: $tablet-width) {
    height: 84px;
    width: 84px;
  }
}

.nursery-controls__button--prev {
  left: -15px;

  @media (min-width: $tablet-width) {
    left: -40px;
  }
}

.nursery-controls__button--next {
  right: -15px;

  @media (min-width: $tablet-width) {
    right: -40px;
  }
}

.nursery-controls__icon {
  width: 10px;
  height: 20px;

  fill: none;
  stroke: $color-light;
  stroke-width: 1;

  transition: stroke 0.3s;

  @media (min-width: $tablet-width) {
    width: 16px;
    height: 32px;
  }
}
