.our-team {
  padding-top: 54px;
  padding-bottom: 60px;

  background-color: $color-dark;

  @media (min-width: $tablet-width) {
    padding-top: 84px;
    padding-bottom: 195px;

    background-color: $color-dark-3;
  }

  @media (min-width: $desktop-width) {
    padding-top: 82px;
    padding-bottom: 72px;
  }
}

.our-team__group {
  position: relative;

  min-height: 338px;

  @media (min-width: $tablet-width) {
    min-height: 410px;
  }

  @media (min-width: $desktop-width) {
    min-height: 402px;
  }
}

.our-team__list {
  @media (min-width: $tablet-width) {
    margin-right: 33px;
    margin-left: 7px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 66px;
    margin-left: 434px;
  }
}
