.our-advantages {
  padding-top: 54px;
  padding-bottom: 60px;

  background-color: $background-dark;

  @media (min-width: $tablet-width) {
    padding-top: 84px;
    padding-bottom: 107px;

    background-color: $background-dark-3;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 99px;
  }
}

.our-advantages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(301px, auto);
    gap: 34px;
  }
}

.our-advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 248px;
  margin-bottom: 30px;
  padding: 55px 40px 35px;

  text-align: center;

  background: $background-dark-2;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    width: 360px;
    min-height: 306px;
    margin-bottom: 42px;
    padding: 65px 40px 45px;
  }

  @media (min-width: $desktop-width) {
    min-height: auto;
    margin-bottom: 0;
  }
}

.our-advantages__item--marked {
  padding: 40px 40px 20px;

  background-color: $color-primary;
  border-width: 15px;
  border-style: solid;
  border-color: $background-dark-2;

  .our-advantages__icon {
    fill: $white;
  }

  @media (min-width: $tablet-width) {
    padding: 48px 40px 28px;

    border-width: 17px 20px;
  }
}

.our-advantages__picture {
  height: 88px;
  margin: 0;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    height: 110px;
    margin-bottom: 30px;
  }
}

.our-advantages__icon {
  fill: $color-primary;
}

.our-advantages__icon--1 {
  width: 80px;
  height: 88px;

  @media (min-width: $tablet-width) {
    width: 98px;
    height: 109px;
  }
}

.our-advantages__icon--2 {
  width: 80px;
  height: 71px;

  @media (min-width: $tablet-width) {
    width: 107px;
    height: 97px;
  }
}

.our-advantages__icon--3 {
  width: 57px;
  height: 88px;

  @media (min-width: $tablet-width) {
    width: 70px;
    height: 110px;
  }
}

.our-advantages__text {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 26px;
  }
}
