.page-header {
  min-height: 617px;

  background-color: $section-bg;
}

.page-header__top {
  display: flex;
  justify-content: center;
  padding-top: 27px;
  margin-bottom: 27px;
}

.page-header__bottom {
  padding-top: 25px;
}
