.page-footer-socials {
  display: flex;
  order: 1;
  margin-bottom: 18px;
}

.page-footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 10px;

  color: $text-primary;
  text-decoration: none;
}

.page-footer-socials__link:last-child {
  margin-right: 0;
}

.page-footer-socials__icon--fb {
  width: 8px;
  height: 16px;
}

.page-footer-socials__icon--tw {
  width: 22px;
  height: 16px;
}

.page-footer-socials__icon--vk {
  width: 25px;
  height: 14px;
}
