.page-footer {
  padding-top: 35px;
  padding-bottom: 40px;

  background-color: $color-dark-3;

  @media (min-width: $tablet-width) {
    padding-top: 34px;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 72px;
    padding-bottom: 53px;
  }
}

.page-footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    display: grid;
    align-items: flex-start;
    padding-right: 7px;

    grid-template-columns: 210px 1fr 140px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 170px;
    padding-left: 140px;

    grid-template-columns: 160px 235px 1fr 140px;
  }
}

.page-footer__address {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-light-3;

  @media (min-width: $tablet-width) {
    padding-right: 20px;

    color: $color-light-4-80;

    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}

.page-footer__phone {
  display: block;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-light-4;
  text-decoration: none;

  transition: color 0.3s;

  &:hover,
  &:focus {
    text-decoration: underline wavy;
  }

  &:active {
    color: $color-light-4-30;
  }

  @media (min-width: $tablet-width) {
    font-weight: 700;
    text-align: right;

    grid-column: 3 / 4;
    justify-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
  }
}

.page-footer__address,
.page-footer__phone {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    line-height: 27px;
  }
}
