.page-footer-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  order: 1;
  margin-bottom: 17px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    justify-content: flex-start;
    order: -1;
    margin-bottom: 0;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    order: 0;
  }
}

.page-footer-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-right: 7px;

  color: $color-light;
  text-decoration: none;

  border: 1px solid transparent;

  transition: color 0.3s, border-color 0.3s;

  &:hover,
  &:focus {
    border-color: $color-light;
  }

  &:active {
    color: $color-light-30;
    border-color: $color-light-30;
  }

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.page-footer-socials__icon--fb {
  width: 10px;
  height: 16px;
}

.page-footer-socials__icon--tw {
  width: 21px;
  height: 16px;
}

.page-footer-socials__icon--vk {
  width: 20px;
  height: 16px;
}
