.person-socials {
  display: flex;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-left: -8px;
  }
}

.person-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 5px;

  color: $white;
  text-decoration: none;

  border: 1px solid transparent;

  transition: border-color 0.3s;

  &:hover,
  &:focus {
    border-color: $white;
  }

  &:active {
    color: $white-30;
    border-color: $white-30;
  }

  @media (min-width: $tablet-width) {
    margin-right: 2px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.person-socials__icon--fb {
  width: 7px;
  height: 14px;

  @media (min-width: $tablet-width) {
    width: 8px;
    height: 16px;
  }
}

.person-socials__icon--tw {
  width: 17px;
  height: 13px;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 16px;
  }
}

.person-socials__icon--vk {
  width: 19px;
  height: 11px;

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 14px;
  }
}
