.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9px;

  background: $color-dark-2;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    height: 63px;

    background: $color-dark;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    min-height: 410px;
    padding: 73px 95px 68px 108px;

    background-color: $color-dark-2;
    border: 23px solid $color-dark-3;
    outline: 1px solid $color-light-50;
    outline-offset: -1px;
  }

  @media (min-width: $desktop-width) {
    min-height: 402px;
    padding: 68px 102px 64px 99px;

    border-width: 23px 34px 23px 26px;
  }
}

.person__picture {
  z-index: 2;

  width: 126px;
  height: 126px;
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 89px;
    bottom: -97px;

    width: 207px;
    height: 207px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    top: -1px;
    right: auto;
    bottom: auto;
    left: 120px;

    width: 360px;
    height: 360px;
  }
}

.person__photo {
  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
}

.person__info {
  z-index: 2;

  margin: 0;
  margin-bottom: 18px;
  padding: 0 10px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
    padding: 0;

    text-align: left;
  }
}

.person__name {
  display: block;
  margin-bottom: 2px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $color-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;

    font-size: 24px;
    line-height: 28px;
  }
}

.person__description {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $color-light;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;

    font-size: 16px;
    line-height: 22px;
  }
}

.person__quote {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $white-70;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 25px;
  }
}
