.person {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    padding: 73px 95px 67px 108px;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 102px 64px 99px;
  }
}

.person__picture {
  position: relative;
  height: 126px;
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 90px;
    bottom: -97px;

    height: 207px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    top: -1px;
    right: auto;
    bottom: auto;
    left: 120px;

    height: 360px;
  }
}

.person__photo {
  display: block;
  width: 126px;
  height: 126px;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 207px;
    height: 207px;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 360px;
  }
}

.person__info {
  margin: 0;
  margin-bottom: 18px;
  padding: 0 10px;

  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-bottom: 43px;
    padding: 0;

    text-align: left;
  }
}

.person__name {
  display: block;
  margin-bottom: 2px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;

    font-size: 24px;
    line-height: 28px;
  }
}

.person__description {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;

    font-size: 16px;
    line-height: 22px;
  }
}

.person__quote {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $white-70;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 25px;
  }
}
