.person {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    padding: 92px 95px 76px 129px;
  }
}

.person__photo {
  width: 126px;
  height: 126px;
  margin-bottom: 18px;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 55px;
    bottom: -96px;

    width: 207px;
    height: 207px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    height: 360px;
  }
}

.person__info {
  margin: 0;
  margin-bottom: 18px;
  padding: 0 10px;

  text-align: center;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-bottom: 43px;
    padding: 0;

    text-align: left;
  }
}

.person__name {
  display: block;
  margin-bottom: 2px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    margin-bottom: 7px;

    font-size: 24px;
    line-height: 28px;
  }
}

.person__description {
  margin: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;

    font-size: 16px;
    line-height: 22px;
  }
}

.person__quote {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $white-70;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 25px;
  }
}
