.person__socials {
  display: flex;

  @media (min-width: $tablet-width) {
    position: relative;

    margin-left: -8px;
  }
}

.person-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 5px;

  color: $white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-right: 2px;
  }
}

.person-socials__link:last-child {
  margin-right: 0;
}

.person-socials__icon--fb {
  width: 6px;
  height: 12px;

  @media (min-width: $tablet-width) {
    width: 8px;
    height: 16px;
  }
}

.person-socials__icon--tw {
  width: 16px;
  height: 11px;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 14px;
  }
}

.person-socials__icon--vk {
  width: 13px;
  height: 9px;

  @media (min-width: $tablet-width) {
    width: 21px;
    height: 12px;
  }
}
