.pet-care-info__item {
  position: relative;

  margin-bottom: 30px;
  padding: 21px 51px 18px 25px;

  background: $black-30;
  border: 1px solid $text-primary;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 558px;
    min-height: 168px;
    margin: 0 auto;
    margin-bottom: 23px;
    padding: 25px 120px 25px 49px;
  }
}

.pet-care-info__item:last-child {
  margin-bottom: 0;
}

.pet-care-info__title {
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 26px;
  }
}

.pet-care-info__description {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet-width) {
    line-height: 23px;
  }
}

.pet-care-info__link {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 100%;

  color: $white;
  text-decoration: none;

  background: $text-primary;

  @media (min-width: $tablet-width) {
    width: 60px;
  }
}

.pet-care-info__icon {
  width: 10px;
  height: 20px;

  fill: none;
  stroke: $white;

  @media (min-width: $tablet-width) {
    width: 12px;
    height: 17px;
  }
}

.pet-care-info__icon--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.pet-care-info__icon--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
