.pet-features {
  padding-top: 28px;
  padding-bottom: 54px;

  background-color: $color-dark-2;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 41px;
    padding-bottom: 88px;
  }
}

.pet-features__group {
  position: relative;

  min-height: 291px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50%;
  }

  &::before {
    top: 48px;

    width: 230px;
    height: 230px;

    background-color: $color-dark-3;

    @media (min-width: $tablet-width) {
      top: 73px;

      width: 342px;
      height: 348px;
    }

    @media (min-width: $desktop-width) {
      top: 109px;

      left: calc(50% + 18px);

      width: 519px;
      height: 519px;
    }
  }

  &::after {
    top: 23px;

    width: 280px;
    height: 280px;

    border: 1px solid $color-light;

    @media (min-width: $tablet-width) {
      top: 33px;

      width: 416px;
      height: 424px;
    }

    @media (min-width: $desktop-width) {
      top: 51px;
      left: calc(50% + 18px);

      width: 631px;
      height: 631px;
    }
  }

  @media (min-width: $tablet-width) {
    min-height: 439px;
  }

  @media (min-width: $desktop-width) {
    min-height: 655px;
  }
}

.pet-features__photo {
  position: relative;
  z-index: 2;

  display: block;
  object-fit: contain;
  width: 267px;
  height: 291px;
  margin: 0 auto;
  margin-bottom: 48px;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 439px;

    transform: translateX(15px);
  }

  @media (min-width: $desktop-width) {
    width: 602px;
    height: 655px;

    transform: translateX(32px);
  }
}

.pet-features__list {
  margin: 0;
  padding: 0;
  padding-left: 18px;

  list-style: none;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }
}

.pet-features__item {
  position: relative;

  margin-bottom: 20px;

  &::before {
    content: "";

    position: absolute;
    left: -18px;
    top: 5px;

    width: 8px;
    height: 8px;

    background: $color-light;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      width: 10px;
      height: 10px;
    }

    @media (min-width: $desktop-width) {
      width: 15px;
      height: 15px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    position: absolute;

    margin-bottom: 0;
  }
}

.pet-features__item--1 {
  @media (min-width: $tablet-width) {
    top: 125px;
    left: calc(50% - 355px);

    width: 160px;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    top: 185px;
    left: calc(50% - 542px);

    width: 260px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      top: 5px;
      right: -22px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      top: 8px;
      right: -39px;
    }
  }
}

.pet-features__item--2 {
  @media (min-width: $tablet-width) {
    top: 198px;
    right: calc(50% - 365px);

    width: 140px;
  }

  @media (min-width: $desktop-width) {
    top: 295px;
    right: calc(50% - 564px);

    width: 210px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      top: 4px;
      left: -24px;
    }

    @media (min-width: $desktop-width) {
      left: -35px;
    }
  }
}

.pet-features__item--3 {
  @media (min-width: $tablet-width) {
    top: 345px;
    right: calc(50% - 320px);

    width: 120px;
  }

  @media (min-width: $desktop-width) {
    top: 515px;
    right: calc(50% - 487px);

    width: 170px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      top: 4px;
      left: -25px;
    }

    @media (min-width: $desktop-width) {
      top: 6px;
      left: -34px;
    }
  }
}

.pet-features__item--4 {
  @media (min-width: $tablet-width) {
    top: 317px;
    left: calc(50% - 350px);

    width: 140px;

    text-align: right;
  }

  @media (min-width: $desktop-width) {
    top: 473px;
    left: calc(50% - 508px);

    width: 210px;
  }

  &::before {
    @media (min-width: $tablet-width) {
      top: 5px;
      right: -22px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      right: -32px;
    }
  }
}

.pet-features__text {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $white;

  span {
    white-space: nowrap;

    @media (min-width: $tablet-width) {
      white-space: normal;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 23px;
  }
}
