.pet-care {
  background-color: $section-bg-3;
}

.pet-care-info__title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 26px;
  }
}

.pet-care-info__description {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet-width) {
    line-height: 23px;
  }
}

.pet-care-info__link {
  color: $white;
  text-decoration: none;
}
