.pet-features {
  background-color: $section-bg-2;
}

.pet-features__photo {
  display: block;
  object-fit: contain;

  width: 267px;
  height: 291px;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 439px;
  }

  @media (min-width: $desktop-width) {
    width: 602px;
    height: 655px;
  }
}

.pet-features__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pet-features__text {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 23px;
  }
}
