.review {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.review__photo {
  width: 242px;
  height: 166px;
  margin-bottom: 29px;

  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 302px;
    height: 208px;
  }

  @media (min-width: $desktop-width) {
    width: 481px;
    height: 331px;
  }
}

.review__info {
  margin: 0;
  padding: 0;

  text-align: center;
}

.review__author {
  display: block;
  margin-bottom: 14px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $white;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 28px;
  }
}

.review__quote {
  margin: 0;
  margin-bottom: 19px;
  padding: 0 10px;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $white-70;

  @media (min-width: $tablet-width) {
    line-height: 23px;
  }
}

.review__subgroup {
  display: flex;
  align-items: center;
}

.review__time {
  margin-right: 36px;

  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: $text-primary;

  @media (min-width: $tablet-width) {
    line-height: 19px;
  }
}
