.review-socials {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  column-gap: 15px;
  row-gap: 10px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, min-content);
  }
}

.review-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;

  color: $color-light;
  text-decoration: none;

  border: 1px solid $color-light-30;

  transition: color 0.3s, border-color 0.3s;

  &:hover,
  &:focus {
    border-color: $color-light;
  }

  &:active {
    color: $color-light-30;

    border-color: $color-light-30;
  }
}

.review-socials__icon--tw {
  width: 16px;
  height: 11px;

  @media (min-width: $tablet-width) {
    width: 15px;
    height: 10px;
  }
}

.review-socials__icon--vk {
  width: 14px;
  height: 10px;

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 9px;
  }
}
