.reviews-controls {
  position: absolute;
  top: 64px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews-controls__button {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.reviews-controls__button--prev {
  left: -15px;
}

.reviews-controls__button--next {
  right: -15px;
}

.reviews-controls__icon {
  width: 10px;
  height: 20px;

  fill: none;
  stroke: $text-primary;
  stroke-width: 1;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 18px;
  }
}

.reviews-controls__icon--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.reviews-controls__icon--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
