.reviews {
  padding-top: 25px;
  padding-bottom: 60px;

  background-color: $color-dark-2;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-bottom: 88px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 110px;
  }
}

.reviews__group {
  position: relative;

  min-height: 440px;

  @media (min-width: $tablet-width) {
    min-height: 463px;
  }

  @media (min-width: $tablet-width) {
    min-height: 408px;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    padding: 0 55px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 477px;
    padding-right: 43px;
  }
}
