.review-socials {
  display: flex;
}

.review-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 17px;

  color: $text-primary;
  text-decoration: none;

  border: 1px solid $text-primary;
}

.review-socials__link:last-child {
  margin-right: 0;
}

.person-socials__icon--tw {
  width: 16px;
  height: 12px;

  @media (min-width: $tablet-width) {
    width: 14px;
    height: 10px;
  }
}

.person-socials__icon--vk {
  width: 18px;
  height: 10px;

  @media (min-width: $tablet-width) {
    width: 13px;
    height: 8px;
  }
}
