.reviews {
  padding-top: 25px;
  padding-bottom: 60px;

  background-color: $section-bg-2;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-bottom: 87px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 87px;
  }
}

.reviews__group {
  position: relative;
}

.reviews__group::before {
  content: "";

  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 357px;

  background: $section-bg;

  @media (min-width: $tablet-width) {
    right: 60px;
    left: 60px;
    height: 368px;
  }
}
