.reviews-controls {
  position: absolute;
  top: 64px;
  z-index: 3;

  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (min-width: $tablet-width) {
    top: 118px;
    left: 50%;
    transform: translateX(-50%);

    width: 532px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.reviews-controls__button {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;

  background: transparent;
  border: 1px solid transparent;
  cursor: pointer;

  transition: border-color 0.3s;

  &:hover,
  &:focus {
    border-color: $color-light;
  }

  &:active {
    border-color: $color-light-30;
  }

  &:active .reviews-controls__icon {
    stroke: $color-light-30;
  }

  @media (min-width: $tablet-width) {
    position: static;

    width: 115px;
    height: 48px;

    &:hover .reviews-controls__icon,
    &:focus .reviews-controls__icon {
      stroke: $color-light;
    }

    &:active .reviews-controls__icon {
      stroke: $color-light-30;
    }
  }
}

.reviews-controls__button--prev {
  left: -15px;
}

.reviews-controls__button--next {
  right: -15px;
}

.reviews-controls__icon {
  width: 10px;
  height: 20px;

  fill: none;
  stroke: $color-light;
  stroke-width: 1;

  transition: stroke 0.3s;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 18px;

    stroke: $color-light-50;
  }
}

.reviews-controls__icon--mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.reviews-controls__icon--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
