.section__wrapper {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 688px;
  }

  @media (min-width: $desktop-width) {
    width: 1160px;
  }
}

.section__wrapper--page-header {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.section__title {
  margin: 0 auto;
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  font-family: "Yeseva One", "Times New Roman", serif;
  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 42px;
  }
}

.section__title--nursery {
  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.section__title--pet-features {
  @media (min-width: $tablet-width) {
    margin-bottom: 19px;
  }
}

.section__title--our-advantages {
  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.section__title--pet-care {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.section__title--our-team {
  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.section__title--faq {
  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.section__title--reviews {
  margin-bottom: 53px;

  @media (min-width: $tablet-width) {
    margin-bottom: 49px;
  }
}

.section__description {
  margin: 0;
  margin-bottom: 30px;

  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: $color-primary;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 520px;
    margin: 0 auto;
    margin-bottom: 45px;

    font-size: 16px;
    line-height: 26px;
  }
}

.section__description--nursery {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.section__description--pet-features {
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 740px;
    margin-bottom: 21px;
  }
}

.section__description--our-advantages {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 47px;
  }
}

.section__description--our-team {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.section__description--faq {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 53px;
  }
}
