// colors

$color-dark: #181617;
$color-dark-2: #1f1c1d;
$color-dark-3: #151313;
$color-dark-4: #1a1a1a;

$color-light: #a07b50;
$color-light-70: rgba($color-light, 70%);
$color-light-50: rgba($color-light, 50%);
$color-light-30: rgba($color-light, 30%);
$color-light-2: #ddd0c3;
$color-light-3: #d6ccc2;
$color-light-4: #fdf2e6;
$color-light-4-80: rgba($color-light-4, 80%);
$color-light-4-30: rgba($color-light-4, 30%);
$color-light-5: #544332;

$white: #ffffff;
$white-70: rgba($white, 70%);
$white-60: rgba($white, 60%);
$white-30: rgba($white, 30%);
$white-20: rgba($white, 20%);
$black: #000000;
$black-70: rgba($black, 70%);
$black-30: rgba($black, 30%);

// viewports

$tablet-width: 768px;
$desktop-width: 1366px;
