// colors

$section-bg: #181617;
$section-bg-2: #1f1c1d;
$section-bg-3: #151313;
$text-primary: #a07b50;
$text-secondary: #ddd0c3;
$text-3: #d6ccc2;
$text-4: #fdf2e6;
$border: #544332;
$white: #ffffff;
$white-70: rgba($white, 70%);
$white-30: rgba($white, 30%);
$white-20: rgba($white, 20%);
$black-30: #00000030;

// viewports

$tablet-width: 768px;
$desktop-width: 1366px;
